.DS_Store
*.aux
*.lof
*.log
*.lot
*.pdf
*.toc
*.gz
*.loa
*.loe
*.lol
*.out
*.mw
*.acn
*.glo
*.idx
*.ist
*.ltd
*.xdy
tfg-pablo-marcos-blx.bib
tfg-pablo-marcos.bbl
tfg-pablo-marcos.blg
tfg-pablo-marcos.run.xml
!figures/*.pdf
!notebooks-pdf/*.pdf
!documentation/*.pdf
!documentation/*/*.pdf
tfg-pablo-marcos.acr
tfg-pablo-marcos.alg
tfg-pablo-marcos.glg
tfg-pablo-marcos.gls
tfg-pablo-marcos.glsdefs
!figures-presentation/*.pdf
